.padre{
    background-color: red;
    width: 500px;
    height: 500px;
    display: flex;
    overflow-x: scroll;


}

.hijo{
    background-color: blue;
    border: 2px solid black;
    height:100px;
    width: 100px;
    flex-shrink: 0;
}