*{box-sizing: border-box; font-family: Verdana, sans-serif;}

/*.test{
    font-family:Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 3;
    text-decoration: underline red;
    color: greenyellow
}*/

/*.tamaño{
    background-color: red;
    padding: 20px;
    width: 100%;
    border:2px solid black ;
    text-align: center;
    height: 100%;
}*/

/*.margin-padding{
    border: 2px solid green;
    /*margin: 10px;*/
    /*margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;*/
   /*margin: 20px 10px 12px 150px*/
   /*padding: 50px 20px;
}*/

/*.background{
    background-color: green;
    background-image:url('_resources/tiramisu-express.jpg')
}*/

/*.image{
    width:100%;
    height: auto;
}*/

/*.border{
    border-width: 1px;
    border-color:red;
    border-style: solid;
    border-radius: 10px;
}*/





/* tamaños */

/* px % em rem 100%=16px=1em=1rem */

